body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 120px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0px;
}

.header-bottom-left {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.img-box {
    background: #95979b;
    color: #E5E7EB;
    /* border-radius: 10px; */
    width: 450px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 4px 18px;
    font-weight: 700;
    color: #E5E7EB;
}

.information {
    
}

.info-title {
    text-align: center;
    margin: 25px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0px;
}

.text,
.box {
    font-size: 18px;
    color: #1F2937;
    font-weight: 500;
}

.items {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    padding: 0px 120px;
    margin-bottom: 50px;
    gap: 50px;
    
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.box {
    border: 3px solid #3882F6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    display: flex;
    /* align-self: center; */
}

.quote {
    background-color: #E5E7EB;
    padding: 120px;

}

.quote-main {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.quote-author {
    display: flex;
    font-size: 18px;
    color: #1F2937;
    font-weight: 600;
    margin-top: 18px;
    justify-self: flex-end;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    

}

.cta-box {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 80px 120px;
    background-color: #3882F6;
    border-radius: 5px;
    /* width: 200px; */
    height: 100px;
    
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-text-bold {
    font-size: 24px;
    /* font-style: italic; */
    color: #E5E7EB;
    font-weight: 700;
}

.cta-text-regular {
    font-size: 18px;
    /* font-style: italic; */
    color: #E5E7EB;
    font-weight: 400;
}

.cta-sign-up {
    border: 2px solid #F9FAF8;
}


.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}